body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url("Images/CivicaBackground.png");
    
    background-color:#093E52;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
legend,
h2,
.control-label,
.text-danger {
    color: burlywood;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    color: burlywood;
}

.navbar-brand-right {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
    color: burlywood;
}
.navbar-header
{
    width:100%;
    height:50px;
}
div .ex1 {
    width: 100%;
    height: 300px;
    overflow: auto;
}
table .trRoom {
    background-color: red; 
}

table .Rooms {
    border-spacing: 0px;
    border-collapse: separate;
    width:900px;
}
.trRoomHeader
{
    background-color:  #297689;
    color: white;     
}
td .tdRoom{
    padding-left:3px;
}
.containerTop
{
    height:50px;
    vertical-align:top;
    background-color:black;
    position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40px;

}
.containerTopText
{
    height:50px;
    vertical-align:top;
    background-color:black;
    position: fixed;
  top: 0;
  left: 20%;
  z-index: 999;
  width: 60%;
  height: 40px;

}
